<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
		    <a href="/posts" class="brand-logo">Posts</a>
            {{!-- Right nav --}}
            <ul class="right hide-on-small-only">
                {{#if user}}
                <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
                <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                {{else}}
                <li><a href="/posts"><i class="fa fa-book"></i> Public Posts</a></li>
                {{/if}}
            </ul>
            {{!-- Side menu --}}
            <ul class="side-nav" id="main-menu">
                {{#if user}}
                {{else }}
                <li><a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a></li>
                {{/if}}
                <li><a href="/posts"><i class="fa fa-book"></i> Public Posts</a></li>
                {{#if user}}
                <li class="divider"></li>
                <li><a href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a></li>
                <li><a href="/posts/my"><i class="fa fa-user"></i> My Posts</a></li>
                <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>