<h1>Dashboard</h1>
<h3>Welcome, {{user.firstName}}</h3>
<h4>Your Posts</h4>
{{#if posts}}

<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr>
                <td><a href="/posts/show/{{id}}">{{title}}</a></td>
                <td>{{formatDate date 'MMMM Do YYYY'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td><a href="/posts/edit/{{id}}" class="btn green" ><i class="fa fa-pencil"></i> Edit</a></td>
                <td>
                    <form action="/posts/{{id}}?_method=DELETE" id="delete-form">
                        <button type="submit" class="btn red"><i class="fa-fa-remove"></i> Delete</button>
                    </form>
                </td>
            </tr>

        {{/each}}
    </tbody>
</table>


{{else}}
    <p>You have not posted anything.</p>
{{/if}}