<h1>Welcome</h1>
<p>Welcome to Penpal 1.0</p>
<p>This is a platform for you to read and share posts to others</p>

{{#if user}}
{{else }}
    <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login with Google</a>
{{/if}}